
.App-header {
  background-color: #2D728F;
  height: 7vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100%;
}
